.highlight {
  height: 650px;
}

img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.backk {
  height: 65vh;
  width: 100%;
  position: absolute;
  filter: blur(15vh);
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1140px) {
  .highlight {
    height: 450px !important;
  }
}

@media (max-width: 960px) {
  .highlight {
    height: 350px !important;
  }
}

@media (max-width: 720px) {
  .highlight {
    height: 250px !important;
  }
}

