@use "../../../scss/variables" as *;
section {
  width: 45vh;
  background: $color_back;
  position: relative;

  h2 {
    color: $color_main;
  }

  .add_button {
    height: 25px;
    border: none !important;
    svg {
      height: 25px;
      fill: white;
      &:hover {
        fill: $color_main;
      }
    }
  }

  .removeParticipant {
    height: 15px !important;
  }

  button {
    background-color: $color_main;
    border-radius: 5px;
    border: 1px solid $color_back;

    height: 50px;
    color: $color_back;
    transition: all 0.2s;
    &:hover {
      font-weight: bolder;
      background: darken($color_main, $amount: 10);
    }
  }

  button:last-child {
    background: transparent;
    color: $color_main;
    border: 1px solid $color_main;
    &:hover {
      background: lighten($color_back, $amount: 3);
    }
  }

  .disabl {
    background-color: darken(grey, $amount: 15) !important;
  }

  textarea {
    height: 80px;
    max-height: 150px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: $color_main;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
