@if (data.type === 'register' || data.type === 'edit') {
<section class="p-4">
  @switch (data.type) { @case('edit') {
  <h2 class="mb-4">Editar Torneo</h2>
  }@default {
  <h2 class="mb-4">Torneo Nuevo</h2>
  } }
  <form class="row mt-3" [formGroup]="tournamentForm">
    <mat-form-field appearance="outline">
      <mat-label>Nombre del Torneo</mat-label>
      <input matInput formControlName="name" />
      @if (tournamentForm.controls.name.hasError('required')) {
      <mat-error>Nombre del torneo es requerido</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Juego</mat-label>
      <mat-select formControlName="game">
        @for (game of dataGames; track game) {
        <mat-option [value]="game.name">{{ game.name }}</mat-option>
        }
      </mat-select>
      @if (tournamentForm.controls.game.hasError('required')) {
      <mat-error>Juego es requerido</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ubicacion</mat-label>
      <input matInput formControlName="ubication" />
      @if (tournamentForm.controls.ubication.hasError('required')) {
      <mat-error>Ubicacion es requerida</mat-error>
      } @else if (tournamentForm.controls.ubication.hasError('pattern')) {
      <mat-error>Ubicacion contiene caracteres invalidos</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fecha del Torneo</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (tournamentForm.controls.date.hasError('matDatepickerParse')) {
      <mat-error>Fecha del torneo contiene un formato incorrecto</mat-error>
      } @else if (tournamentForm.controls.date.hasError('required')) {
      <mat-error>Fecha del torneo es requerida</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Imagen URL</mat-label>
      <input matInput formControlName="imgUrl" />
      @if (tournamentForm.controls.imgUrl.hasError('required')) {
      <mat-error>URL de la imagen es requerido</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descripcion</mat-label>
      <textarea matInput formControlName="description"></textarea>
      @if (tournamentForm.controls.description.hasError('required')) {
      <mat-error>Descripcion es requerida</mat-error>
      } @else if (tournamentForm.controls.description.hasError('pattern')) {
      <mat-error>Descripcion contiene caracteres invalidos</mat-error>
      }
    </mat-form-field>
    <div class="d-flex">
      <button
        mat-button
        type="submit"
        class="w-75 me-4"
        (click)="createTournament()"
        [disabled]="!tournamentForm.valid"
        [ngClass]="{ disabl: !tournamentForm.valid }"
      >
        @switch (data.type) { @case('edit') { Editar Torneo } @case('add') {
        Agregar } @default { Crear Torneo } }
      </button>
      <button mat-button class="w-50" (click)="closeDialog()" type="button">
        Cancelar
      </button>
    </div>
  </form>
</section>
} @else if(data.type === 'add'){
<section class="p-4">
  <h2 class="">Agregar Participantes</h2>
  <div class="d-flex flex-row-reverse mb-3" style="margin-right: 10px">
    <button class="add_button" (click)="addParticipant()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path
          d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3zM504 312l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"
        />
      </svg>
    </button>
  </div>
  <form class="row" [formGroup]="addForm">
    <ng-container formArrayName="participants">
      @for (item of participants.controls; track item; let i = $index) {
      <ng-container [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Nombre del Participante</mat-label>
          <input matInput formControlName="name" />
          @if(i !== 0) {
          <button
            class="add_button pe-2"
            (click)="removeParticipant(i)"
            matSuffix
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM184 232l144 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-144 0c-13.3 0-24-10.7-24-24s10.7-24 24-24z"
                fill="#990000"
              />
            </svg>
          </button>
          } @if (item.get('name')?.hasError('required')) {
          <mat-error>Nombre del participante es requerido</mat-error>
          }
        </mat-form-field>
      </ng-container>
      }
    </ng-container>
  </form>
  <div class="d-flex mt-4">
    <button
      mat-button
      type="submit"
      class="w-75 me-4"
      (click)="createTournament()"
    >
      Agregar
    </button>
    <button mat-button class="w-50" (click)="closeDialog()" type="button">
      Cancelar
    </button>
  </div>
</section>
}
