.container-custom {
  width: 100%;
  padding-right: calc(1.5rem * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 540px) {
  .container-custom {
    max-width: 540px;
  }
}

@media (min-width: 720px) {
  .container-custom {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .container-custom {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .container-custom {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-custom {
    max-width: 1320px;
  }
}

@media (min-width: 1740px) {
  .container-custom {
    max-width: 1500px;
  }
}
