@use "../../../scss/variables" as *;
.card-custom {
  height: 475px;
  background: rgba(black, 0.6);
  border: 1px solid rgba($color_back, 0.59);
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
  border-radius: 5px;

  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  img {
    cursor: pointer;
    transition: transform 0.2s ease;
    height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  p {
    cursor: pointer;
    font-size: 1.3rem;
    color: $color_main;
    font-weight: 700;
  }

  svg {
    height: 20px;
  }
}

.done {
  font-size: 18px;
  color: #757575;
}

.float-buttons {
  button {
    border: none;
    padding-right: 0px;
    background: transparent;
    border-radius: 5px;
    margin-left: 10px;
    height: 22.5px;
    svg {
      height: 100%;
    }

    &:focus {
      border: none !important;
      outline: none !important;
    }
  }
}

.svg_buttons {
  fill: white;
  &:hover {
    fill: $color_main !important;
  }
}
