@use "bootstrap" as *;
@use "scss/variables" as *;
@use "@angular/material" as mat;

body {
  background-color: $color_back;
  color: $color_text;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.testt {
  background-color: palevioletred;
}

.row,
.col {
  margin: 0px;
  padding: 0px;
}

:root {
  @include mat.dialog-overrides(
    (
      container-max-width: 100%
    )
  );


}


.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 5px;
}