@use "bootstrap" as *;
@use "scss/variables" as *;
@use "@angular/material" as mat;

body {
  background-color: $color_back;
  color: $color_text;
}

* {
  font-family: "Lato", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.testt {
  background-color: palevioletred;
}

.row,
.col {
  margin: 0px;
  padding: 0px;
}

:root {
  @include mat.dialog-overrides(
    (
      container-max-width: 100%,
    )
  );
  @include mat.form-field-overrides(
    (
      outlined-focus-outline-color: $color_main,
      outlined-focus-label-text-color: #fff,
      outlined-caret-color: $color_main,
      filled-focus-active-indicator-color: red,
    )
  );

  @include mat.datepicker-overrides(
    (
      calendar-date-selected-state-text-color: $color_back,
      calendar-date-selected-state-background-color: $color_main,
      calendar-date-today-outline-color: $color_main,
    )
  );

  @include mat.select-overrides(
    (
      enabled-arrow-color: $color_main,
      focused-arrow-color: $color_main,
    )
  );
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 5px;
}

.mat-mdc-form-field-subscript-wrapper {
  display: flex !important;
}

.mat-mdc-form-field-error-wrapper {
  margin-top: 2.5px !important;
  margin-bottom: 12.5px !important;
  position: relative !important;
}

textarea {
  resize: none !important;
}
