@use "../../../scss/variables" as *;

h3 {
  display: inline;
  font-size: 2rem;
  transition: 0.1s;
  color: $color_text;
  border-bottom: 2px solid $color_main;
  font-weight: 700;
}

section {
  margin-top: 80px;
}

button {
  background-color: $color_main;
  border-radius: 5px;
  border: 1px solid $color_back;
  width: 150px;
  color: $color_back;
  transition: all 0.2s;
  &:hover {
    background-color: $color_back;
    color: $color_main;
    font-weight: 600;
  }
}
