@use "../../../scss/variables" as *;

h3 {
  display: inline;
  font-size: 2rem;
  transition: 0.1s;
  color: $color_text;
  border-bottom: 2px solid $color_main;
  font-weight: 700;
}


section {
  margin-top: 80px
}